<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_XtCore" setup_version="2.4.0">
        <sequence>
            <module name="Magento_AdminNotification"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_XtCore
 * ID:            ItQwyW4WJhvrgfQ9+PrUqQTIHQ1Q7mfhy7NFERkjhFA=
 * Last Modified: 2019-01-09T14:44:02+00:00
 * File:          app/code/Xtento/XtCore/etc/module.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->